﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage_login_signup.master.cs" Inherits="MasterPage_login_signup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Cell Salts For Health</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Webster - Multi-Purpose HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   
    <!-- Favicon -->
   <%-- <link rel="shortcut icon" href="images/favicon.ico" />--%>
    <link rel="shortcut icon" href="images/logonew.png" />
    
    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900"/>

    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

    <!-- Typography -->
    <link rel="stylesheet" type="text/css" href="css/typography.css" />

    <!-- Shortcodes -->
    <link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>
<body>
      <div class="wrapper">

        <!--=================================
 preloader -->

        <div id="pre-loader">
            <img src="../images/pre-loader/loader-01.svg" alt=""/>
        </div>

        <!--=================================
 preloader -->

        <!--=================================
 Signup-->

            <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i><span>TOP</span></a></div>

    <!--=================================
 jquery -->

  
    <form id="form1" runat="server">
           <asp:ScriptManager runat="server" ScriptMode="Release"></asp:ScriptManager>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
        </form>
          </div>

      <!-- jquery -->
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>

    <!-- plugins-jquery -->
    <script type="text/javascript" src="../js/plugins-jquery.js"></script>

    <!-- plugin_path -->
    <script type="text/javascript">var plugin_path = '../js/';</script>


    <!-- custom -->
    <script type="text/javascript" src="../js/custom.js"></script>

</body>
</html>
