﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="singup.aspx.cs" Inherits="singup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Webster - Multi-Purpose HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Medical</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">

    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

    <!-- Typography -->
    <link rel="stylesheet" type="text/css" href="css/typography.css" />

    <!-- Shortcodes -->
    <link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>
<body>

    <div class="wrapper">

        <!--=================================
 preloader -->

        <div id="pre-loader">
            <img src="images/pre-loader/loader-01.svg" alt="">
        </div>

        <!--=================================
 preloader -->

        <!--=================================
 Signup-->

        <section class="login-box-main height-100vh page-section-ptb" style="background: url(images/signup/06.jpg);">
            <div class="login-box-main-middle">
                <div class="container">
                    <div class="row row-eq-height no-gutter">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="login-box-left  white-bg">
                                <img class="logo-small" src="images/logo-icon-dark.png" alt=""/>
                                <ul class="nav">
                                    <li><a href="login.aspx"><i class="ti-user"></i>Login</a></li>
                                    <li class="active"><a href="#"><i class="ti-pencil-alt"></i>Signup</a></li>
                                </ul>
                                <div class="social-icons color-hover clearfix pos-bot pb-30 pl-30">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 theme-bg">
                            <div class="login-box pos-r text-white login-box-theme">
                                <h2 class="text-white mb-20">Welcome to Cell</h2>
                                <p class="mb-10 text-white">Create tailor-cut websites </p>
                                
                                <ul class="list-unstyled list-inline pos-bot pb-40">
                                    <li><a class="text-white" href="#">Terms of Use</a> </li>
                                    <li><a class="text-white" href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="login-box pb-50 clearfix white-bg">
                                <h3 class="mb-30">Signup</h3>
                                <div class="row">
                                    <div class="section-field mb-20 col-sm-6">
                                        <label class="mb-10" for="name">First name* </label>
                                        <input id="name" class="web form-control" type="text" placeholder="First name" name="web">
                                    </div>
                                    <div class="section-field mb-20 col-sm-6">
                                        <label class="mb-10" for="name">Last name* </label>
                                        <input id="name" class="web form-control" type="text" placeholder="Last name" name="web">
                                    </div>
                                </div>
                                <div class="section-field mb-20">
                                    <label class="mb-10" for="name">Email* </label>
                                    <input type="email" placeholder="Email*" class="form-control" name="email">
                                </div>
                                <div class="section-field mb-20">
                                    <label class="mb-10" for="Password">Password* </label>
                                    <input id="Password" class="Password form-control" type="password" placeholder="Password" name="Password">
                                </div>
                                <a href="#" class="button">
                                    <span>Signup</span>
                                    <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
 signup-->


    </div>



    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i><span>TOP</span></a></div>

    <!--=================================
 jquery -->

    <!-- jquery -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>

    <!-- plugins-jquery -->
    <script type="text/javascript" src="js/plugins-jquery.js"></script>

    <!-- plugin_path -->
    <script type="text/javascript">var plugin_path = 'js/';</script>


    <!-- custom -->
    <script type="text/javascript" src="js/custom.js"></script>


    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
